<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Биллинг</title>
    <h1> Биллинг для интернет магазина</h1>
    <a class="text-muted" href="{% url 'create_purchase' %}">Форма создания покупки</a> <br>
    <a class="text-muted" href="{% url 'day_purchases_list' %}">Отчет 1. Отчет по покупкам за день</a> <br>
    <a class="text-muted" href="{% url 'det_promo_effect_report' %}">Отчет 2. Эффективность скидочных акций по категориям</a> <br>
    <a class="text-muted" href="{% url 'det_promo_effect_report_product' %}">Отчет 3. Эффективность скидочных акций по товарам</a> <br>
</head>
<body>

</body>
</html>